.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  padding: 100px 80px 0;
}

.recipes__title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 24px 0 0;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 80px auto 215px;
}

.recipes__video {
  display: flex;
  flex-flow: column nowrap;
}

.recipes__iframe {
  border: 0;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  color: #ffffff;
}
